## Challenge 1: Debugging Variable Names

The following pieces of code include variable names that cause an error. What's wrong and how would we fix it? Are there any other guidelines that aren't being met with the variable names?

In [ ]:
# First variable starts with a number
1a = 'Washington'
b2 = 'Olympia'
print('The capital of', a1, 'is', b2)

In [ ]:
# Solution
a1 = 'Washington'
b2 = 'Olympia'
print('The capital of', a1, 'is', b2)

In [ ]:
# Python is case sensitive
A_variable = 22
anotherVariable = 42
print(a_variable * anotherVariable)

In [ ]:
# Solution
a_variable = 22
anotherVariable = 42
print(a_variable * anotherVariable)

## Challenge 2: Words to Code

Translate the following clause into code and save the result to a variable. 

Divide 15 by the sum of a and three times b. Multiply the result by 2 and raise it to the 3rd power. What is the result? 

**Hint**: Order of operations applies in Python (i.e., PEMDAS).

In [ ]:
a = 2
b = 3

In [ ]:
((15 / (a + 3 * b)) * 2)**3

## Challenge 3: Swapping Values

Let's say we have two variables and we want to swap the values for each of them. 

Does the following method accomplish the goal? What is the value of first and last at the end of the cell? `

In [ ]:
first = 'a'
last = 'z'

first = last
last = first

print(first)
print(last)

In [ ]:
first = 'a'
last = 'z'

# YOUR CODE HERE
temp = first
first = last
last = temp

print(first)
print(last)